@charset "utf-8";
/* --------------- Style to null --------------- */
*{-webkit-text-size-adjust: none; }
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,menu,nav,section,summary,time,mark,audio,video{-webkit-tap-highlight-color: rgba(0,0,0,0); border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 04.10.2015
    placeholder
    fonts
    site
    works
    excellence
    menu
    aside
    feedback
    social
    logo
*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    color: #0ea0c0;
}
:-moz-placeholder {
    color: #0ea0c0;
}
.placeholder {
    color: #0ea0c0;
}
/* --------------- /placeholder --------------- */

/* --------------- fonts --------------- */
@font-face {
    font-family: "atlas-black";
    src: url("fonts/atlas-aaa-black_0.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "almoni-bold";
    src: url("fonts/almoni-dl-aaa-bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "almoni-black";
    src: url("fonts/almoni-dl-aaa-black.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "almoni-light";
    src: url("fonts/almoni-dl-aaa-light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "almoni-regular";
    src: url("fonts/almoni-dl-aaa-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "atlas-regular";
    src: url("fonts/atlas-aaa-regular_0.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
/* --------------- /fonts --------------- */
body{
    font-family: 'AlmoniDLAAA', 'sans-serif';

}
/* --------------- site --------------- */

.site{
    background: url("../img/mainbg.jpg")no-repeat center;
    background-size: cover;
    min-height: 100%;
}
.site__wrap {
    min-height: 100%;
    max-width: 320px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.site__content {
    position: relative;
    z-index: 2;

}
.site__header {
    position: relative;
}
.site__footer {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    display: none;
}
.site__footer-layout {
    display: none;
    width: 100%;
    height: 60px;
}
.site__content__feedback{
    padding-top: 114px;
}

/* --------------- /site --------------- */

/* --------------- desktop-title --------------- */
.lamp__desktop-title{
    color: #0ea0c0;
    margin-top: 10px;
    font-size: 58px;
    letter-spacing: -1px;
    display: none;
    font-family: "atlas-black",sans-serif;
}
h2{
    text-align: center;
    display: block;
}
span{
    display: block;
    margin-top: -2px;

}
.lamp__fluorescent{
    margin-top: 7px;
    line-height: 25px;
    color: #0ea0c0;
    font-size: 20px;
    font-family: "almoni-bold",sans-serif;
}
.lamp__interest{
    color: #043540;
    line-height: 25px;
    font-size: 30px;
    font-family: "almoni-bold",sans-serif;
}
.lamp__power{
    margin-left: 32px;
    font-weight: 700;
    display: inline-block;
    vertical-align: top;
    width: 68px;
    font-size: 23px;
    color: #fdd733;
    font-family: "almoni-black",sans-serif;
}
.lamp__savings{
    display: inline-block;
    vertical-align: top;
    width: 215px;
    font-size: 57px;
    color: #fdd733;
    line-height: 44px;
    font-family: "almoni-black",sans-serif;
}
/* --------------- /desktop-title --------------- */

/* --------------- excellence --------------- */
.excellence__items{
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 65px;
    height: 65px;
    background: #76c0cc;
    border-radius: 50%;
    margin-right: 1px;
    padding-right: 3px;
    padding-top: 1px;
    font-size: 11px;
    text-align: center;
    font-family: "almoni-bold",sans-serif;
}
.excellence__items div{
    right:4px;
    width: 65px;
    height: 65px;
    background: #0ea0c0;
    border-radius: 50%;
}
.excellence{
    text-align: center;
    margin-top: 6px;
    margin-bottom: -11px;
    margin-right: -13px;
}
.excellence__items div span{
    color: #fff;
    width: 60px;
    height: 64px;
    display: table-cell;
    vertical-align: middle;

}
/* --------------- /excellence --------------- */

/* --------------- works --------------- */
.works span {
    text-align: right;
    height: 38px;
    line-height: 11px;
    font-size: 15px;
    overflow: hidden;
    width: 174px;
}
.works span:last-child{
    display: table-cell;
    height: 56px;
    width: 200px;
    vertical-align: middle;
    text-align: center;
    font-size:14px;
}
.works{
    display: none;
    text-align: right;
    position: relative;
    margin-right:2px;
    width: 697px;
}
.works__item{
    width: 224px;
    display: inline-block;
    margin-right: 6px;
}
.works__item:first-child{
    margin-right: 0;
}
.works__item span{
    text-align: right;
    font-size:15px;
    font-family: "almoni-regular",sans-serif;
}
.works__item h3{
    color:#fdd733;
    font-size: 21px;
    margin-bottom: -9px;
    font-family: "atlas-black",sans-serif;
}
.works__description{
    position: relative;
    margin-top: -15px;
    width: 3px;
    margin-right: -3px;
    height: 54px;
    background: #dbbb2e;
}
.works__description div{
    position: absolute;
    margin-top: 6px;
    right: 3px;
    width: 204px;
    height: 54px;
    background: #fdd600;
}
/* --------------- /works --------------- */

/* --------------- menu --------------- */
.menu{
    display: none;
    text-align: right;
}
.menu a{
    font-size:21px;
    color: #7ec9da;
    font-family: "almoni-regular",sans-serif;
}
.menu__items:hover img {
    background: url("../img/fbook_1.png");
}
.menu a:hover{
    color:#0ea0c0;
}
.menu__items{
    display: inline-block;
}
.menu__items:after{
    content: "";
    display: inline-block;
    height: 19px;
    width: 2px;
    margin-left: 4px;
    margin-right: 8px;
    background: #043540;
}
.menu__items:last-child:after{
    display: none;
}
/* --------------- /menu --------------- */

/* --------------- aside --------------- */
aside{
    width: 320px;
    padding-top: 16px;
    margin: 0 auto;
}

/* --------------- /aside --------------- */

/* --------------- feedback-wrap --------------- */
.feedback-wrap .contact__phone {
    color: #043540;
    font-size: 15.2px;
    letter-spacing: 0px;
    word-spacing: 4px;
    margin-bottom: 6px;
    text-align: center;
    font-family: "almoni-black",sans-serif;
}
.feedback-wrap .contact__phone> strong{
    color:#0ea0c0;
}
.feedback-wrap .contact{
    color: #fdd733;
    font-size: 50px;
    display: none;
    text-align: center;
    margin-bottom: 17px;
    font-family: "almoni-black",sans-serif;
}
.feedback-wrap .contact .phone{
    font-family: "almoni-black",sans-serif;
    color: #fdd733;
    font-size: 50px;
}

.feedback-wrap>.contact>span{
    color: #043540;
    font-size: 40px;
    margin: 0 auto;
    display: block;
    width: 200px;
    line-height: 28px;
    margin-top: -3px;
    font-family: "almoni-bold",sans-serif;
}

.feedback-wrap .electricity{
    color: #043540;
    font-size: 40px;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    line-height: 32px;
    letter-spacing: 2px;
    margin-bottom: -7px;
    display: none;
    font-family: "almoni-bold",sans-serif;
}
.feedback-wrap form{
    margin:0 auto;
    max-width:186px;
    margin-bottom: 5px;
}
/* --------------- /feedback-wrap --------------- */

/* --------------- feedback --------------- */
.feedback{
    color: #043540;
    font-size: 15.2px;
    letter-spacing: 0px;
    word-spacing: 4px;
    margin-bottom: 6px;
}
.feedback-title{
    color:#0ea0c0;
    font-size: 36px;
    font-family: "atlas-black",sans-serif;
}
.feedback-contact{
    color:#fdd733;
    font-size: 33px;
    margin-bottom: 58px;
    font-family: "almoni-black",sans-serif;
}
/* --------------- /feedback --------------- */

/* --------------- feedback-block --------------- */
.feedback-block{
    color: #fdd733;
    font-size: 50px;
    display: none;
    text-align: center;
    margin-bottom: 17px;
}
/* --------------- /feedback-block --------------- */


/* --------------- logo --------------- */
.logo {
    margin: 0 auto;
    text-align: center;
}
.logo img {
    height: 35px;
    width: 99px;
}
/* --------------- /logo --------------- */

/* --------------- form --------------- */
form{
    margin:0 auto;
    max-width:186px;
    margin-bottom: 8px;
}
/* --------------- /form --------------- */

/* --------------- textbox --------------- */
input.textbox,textarea.textbox{
    background-color: #c6dadc;
    font-size: 11px;
    height: 22px;
    margin-bottom: 2px;
    width: 100%;
    color: #0ea0c0;
    border:none;
    border-top: 2px solid #dbe7e9;
    border-bottom: 2px solid #dbe7e9;
    padding: 0 8px;
    font-family: "almoni-light",sans-serif;
}
textarea.height{
    height: 39px;
    margin-bottom: 0px;
}
input.company{
    display: none;
}
/* --------------- /textbox --------------- */

/* --------------- btn --------------- */
.btn{
    width: 100%;
    padding-top: 0;
    border: none;
    background-color: #fdd733;
    font-size: 28px;
    color: #043540;
    border-top: 2px solid #fae897;
    border-bottom: 2px solid #fae897;
    height: 32px;
    line-height: 10px;
    letter-spacing: -1px;
    font-family: "almoni-black",sans-serif;
}
button.btn:hover{
    background-color: #ffdf54;
}
.btn .start{
    display: none;
    font-size: 50px;
}
.btn .economy{
    display: block;

}
/* --------------- /btn --------------- */

/* --------------- social --------------- */
.social{
    position: absolute;
    bottom: 3px;
    left: 25px;
}

.social a{
    display: inline-block;
    height: 27px;
    width: 27px;
    margin-right: 16px;
    background: url("../img/facebooklogo.png");
}
.social .social-fb{
    background-position: -2px -4px;
}
.social .social-fb:hover{
    background-position: 29px -4px;
}
/* --------------- /social --------------- */

/* --------------- social-items --------------- */
.social-items{
    position: relative;
    width: 160px;
    margin: 0 auto 88px;
}
.social-items a {
    display: inline-block;
    height: 39px;
    width: 38px;
    margin-right: 16px;
    background: url("../img/socialsprite.png");
}
.social-items a:first-child{
    margin-right: 0;
    margin-left: 5px;
}
.social-items .social-f{
    background-position: -46px -26px;
}
.social-items .social-ph{
    background-position: 143px -26px;
}
.social-items .social-home{
    background-position: 83px -26px;
}
.social-items .social-f:hover{
    background-position: -46px 88px;
}
.social-items .social-ph:hover{
    background-position: 143px 88px;
}
.social-items .social-home:hover{
    background-position: 83px 88px;
}
/* --------------- logo_feedback --------------- */
.logo_feedback img{
    height: 57px;
    width: 156px;
}
/* --------------- /logo_feedback --------------- */

/* --------------- /social-items --------------- */

@media (min-width: 1024px) {
    /* --------------- works --------------- */
    span{
        margin-top: 7px;
    }
    .works{
        display: block;
    }
    /* --------------- /works --------------- */
    /* --------------- site --------------- */
    .site__wrap{
        max-width: 1024px;
    }
    .site__footer-layout{
        display: block;
    }
    .site__footer{
        display: block;
    }
    /* --------------- /site --------------- */
    /* --------------- lamp --------------- */
    .lamp{
        width: 700px;
        display: inline-block;
        margin-right: 21px;
        float: right;
    }

    .lamp__desktop-title{
        display: block;
    }
    .lamp__fluorescent {
        width: 700px;
        font-size: 39px;
        margin-top: 10px;
        font-family: "almoni-bold",sans-serif;
    }
    .works{
        display: block;
    }
    .lamp__interest{
        display: none;
    }
    .lamp__power{
        text-align: center;
        margin-left: 21px;
        margin-top: 4px;
        letter-spacing: 1px;
        display:block;
        vertical-align: top;
        width: 700px;
        font-size: 51px;

    }
    .lamp__savings {
        text-align: center;
        display: block;
        vertical-align: top;
        margin-top: 26px;
        width: 700px;
        font-size: 71px;

    }
    /* --------------- /lamp --------------- */
    /* --------------- excellence --------------- */
    .excellence{
        width: 700px;
        text-align: center;
        margin-right: -1px;
        margin-top: 12px;
        margin-bottom: 21px;
    }

    .excellence__items{
        width: 125px;
        height: 125px;
        font-size: 20px;
        font-family: "almoni-bold",sans-serif;
    }
    .excellence__items div{
        width: 125px;
        height: 125px;
    }
    .excellence__items div span{
        height: 120px;
        width: 108px;
        padding-right: 11px;

    }
    /* --------------- /excellence --------------- */

    /* --------------- aside --------------- */
    aside{
        float: left;
        width: 290px;
    }
    /* --------------- aside --------------- */

    /* --------------- feedback --------------- */
    .feedback{
        display: none;
    }
    /* --------------- /feedback --------------- */

    /* --------------- feedback-wrap --------------- */
    .feedback-wrap .contact__phone{
        display: none;
    }
    .feedback-wrap .electricity{
        display: block;
    }
    .feedback-wrap form{
        margin:0 auto;
        max-width:228px;
        margin-bottom: 51px;
    }
    .feedback-wrap .contact{
        display: block;
    }
    .feedback-wrap .contact .phone{
        display: block;
    }
    /* --------------- /feedback-wrap --------------- */


    /* --------------- textbox --------------- */
    input.textbox{
        border: none;
        font-size: 17px;
        height: 26px;
        padding: 0 10px;
        margin-bottom: 5px;
    }
    input.company{
        display: block;
    }
    /* --------------- /textbox --------------- */

    /* --------------- height --------------- */
    textarea.height{
        height: 99px;
        font-size: 17px;
    }
    /* --------------- /height --------------- */

    /* --------------- btn --------------- */
    .btn{
        border: none;
        border-left: 2px solid #fae897;
        border-right: 2px solid #fae897;
        height: 43px;
    }
    .btn .start{
        display: block;
        margin-top: -5px;
    }
    .btn .economy{
        display: none;
        font-size: 50px;
    }
    /* --------------- /btn --------------- */
    /* --------------- logo --------------- */
    .logo img{
        height: 95px;
        width: 260px;
    }
    .logo_feedback {
        position: absolute;
        top: 42px;
        left: 50%;
        margin-left: -151px;
    }
    .logo_feedback img{
        height: 106px;
        width: 303px;
    }
    /* --------------- /logo --------------- */

    /* --------------- save-electricity --------------- */
    .save-electricity{
        display: block;
    }
    /* --------------- /save-electricity --------------- */
    /* --------------- feedback-block --------------- */
    .feedback-title{
        margin-top: 215px;
        font-size: 71px;
    }
    .feedback-contact{
        font-size: 64px;
        margin-bottom: 325px;
    }
    .feedback-block{
        display: block;
    }
    /* --------------- /feedback-block --------------- */
    /* --------------- social --------------- */
    .social a{
        display: none;
    }
    .social-items{
        display: none;
    }
    /* --------------- /social --------------- */
    /* --------------- menu --------------- */
    .menu{
        width: 700px;
        text-align: center;
        margin-right: 10px;
        display: block;
        margin-top: 33px;
    }
    .menu_feedback{
        width: 100%;
        text-align: center;
        margin-top: -3px;
    }
    .menu_feedback a{
        font-size: 26px;
    }
    /* --------------- /menu --------------- */

}