@charset "utf-8";
/* --------------- Style to null --------------- */
*{-webkit-text-size-adjust: none; }
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,menu,nav,section,summary,time,mark,audio,video{-webkit-tap-highlight-color: rgba(0,0,0,0); border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 15.01.2013

    placeholder

    fonts

    site

    logo
*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    color: #0ea0c0;
}
:-moz-placeholder {
    color: #0ea0c0;
}
.placeholder {
    color: #0ea0c0;
}
/* --------------- /placeholder --------------- */

/* --------------- fonts --------------- */
@font-face {
    font-family: "Font Name";
    src: url("fonts/almoni-dl-aaa-700 (1).woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
/* --------------- /fonts --------------- */
body{
    font-family: 'AlmoniDLAAA', 'sans-serif';

}
/* --------------- site --------------- */
.site {
    min-height: 100%;
    max-width: 320px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background: url("../img/mainbg.jpg")no-repeat center;
    background-size: cover;
}

.site__content {
    position: relative;
    z-index: 2;
}

.site__header {
    position: relative;


}
.site__footer {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
}
.site__footer-layout {
    width: 100%;
    height: 100px;
}
.site__content-wrap{
    padding-top: 114px;
}
/* --------------- /site --------------- */

span{
    text-align: center;
    display: block;
    font-weight: 700;
}
.sell{
    margin-top: 7px;
    line-height: 19px;
    color: #0ea0c0;
    font-size: 20px;
}
.sell_1{
    color: #043540;
    line-height: 25px;
    font-size: 30px;
}
.left{
    margin-left: 21px;
    margin-top: 10px;
    font-weight: 700;
    display: inline-block;
    vertical-align: top;
    width: 80px;
    font-size: 23px;
    color: #fdd733;
}
.right{
    font-weight: 700;
    display: inline-block;
    vertical-align: top;
    width: 215px;
    font-size: 57px;
    color:#fdd733;

}
.circle{
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 65px;
    height: 65px;
    background: #76c0cc;
    border-radius: 50%;
    padding-right: 3px;
    margin-left: 2px;
    font-size: 11px;
    text-align: center;
}
.circle div{
    right:4px;
    width: 65px;
    height: 65px;
    background: #0ea0c0;
    border-radius: 50%;
}
.circle-items{
    text-align: center;
}
.circle div span{
    color: #fff;
    width: 60px;
    height: 64px;
    display: table-cell;
    vertical-align: middle;
}
.desktop-title{
    color:#0ea0c0;
    font-size: 58px;
    font-weight: 700;
    display: none;
}
.works span {
    text-align: right;
}

.works{
    display: none;
    text-align: right;
    position: relative;
    width: 697px;
}
.works__item{
    width: 224px;
    display: inline-block;
    margin-right: 5px;
}
.works_item span{
    text-align: right;
    font-size:15px;
}
.works__item h3{
    color:#fdd733;
    font-size: 21px;
    font-weight: 700;
}
.works_bottom{
    position: relative;
    margin-top: -10px;
    width: 204px;
    margin-right: -3px;
    height: 54px;
    background: #dbbb2e;
}
.works_bottom div{
    position: relative;
    margin-top: -10px;
    right: 3px;
    width: 204px;
    height: 54px;
    background: #fdd600;
}

/* --------------- aside --------------- */
aside{
    width: 285px;
    padding-top: 13px;
    margin: 0 auto;
}
.aside span strong{
    color: #0ea0c0;
}
.aside .feedback-block>strong{
    color: #043540;
    font-size: 40px;
    margin: 0 auto;
    display: block;
    width: 196px;
    line-height: 28px;
    margin-top: -3px;
}
/* --------------- /aside --------------- */

/* --------------- feedback --------------- */
.feedback{
    color: #043540;
    font-size: 15.2px;
    letter-spacing: 0px;
    word-spacing: 4px;
    margin-bottom: 6px;
}
/* --------------- /feedback --------------- */

/* --------------- feedback-block --------------- */
.feedback-block{
    color: #fdd733;
    font-size: 50px;
     display: none;
    text-align: center;
    margin-bottom: 17px;
}
/* --------------- /feedback-block --------------- */

/* --------------- save-electricity --------------- */
.save-electricity{
    color: #043540;
    font-size: 40px;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    line-height: 32px;
    letter-spacing: 2px;
    margin-bottom: -7px;
    display: none;
}
/* --------------- /save-electricity --------------- */

/* --------------- logo --------------- */
.logo {
    margin: 0 auto;
    text-align: center;
}
.logo img {
    height: 35px;
    width: 99px;
}
/* --------------- /logo --------------- */

/* --------------- form --------------- */
form{
    margin:0 auto;
    max-width:186px;
    margin-bottom: 11px;
}
/* --------------- /form --------------- */

/* --------------- textbox --------------- */
input.textbox{
    background-color: #c6dadc;
    font-size: 11px;
    height: 22px;
    margin-bottom: 2px;
    width: 100%;
    color: #0ea0c0;
    border:none;
    border-top: 2px solid #dbe7e9;
    border-bottom: 2px solid #dbe7e9;
    padding: 0 8px;
}
input.company{
    display: none;
}
/* --------------- /textbox --------------- */

/* --------------- contact --------------- */
input.contact{
    height: 38px;
}
/* --------------- contact --------------- */


/* --------------- btn --------------- */
.btn{
    width: 100%;
    background-color: #fdd733;
    font-size: 28px;
    color: #043540;
    border-top: 2px solid #fae897;
    border-bottom: 2px solid #fae897;
    height: 32px;
}
/* --------------- /btn --------------- */

/* --------------- social --------------- */
.social{
    position: absolute;
    bottom: 5px;
    left:20px;
}
/* --------------- /social --------------- */

/* --------------- feedback-title --------------- */
.feedback-title{
    color:#0ea0c0;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1px;
}
/* --------------- /feedback-title --------------- */
/* --------------- feedback-contact --------------- */
.feedback-contact{
    color:#fdd733;
    font-size: 33px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 58px;
}
/* --------------- /feedback-contact --------------- */
/* --------------- social-items --------------- */
.social-items{
    position: relative;
    width: 160px;
    margin: 0 auto 94px;
}
.social-items a {
    display: inline-block;
    height: 36px;
    width: 38px;
    margin-right: 16px;
    background: url("../img/socialsprite.png");
}
.social-items a:first-child{
    margin-right: 0;
    margin-left: 5px;
}

.social-items .social-f{
    background-position: 0 0;
}
.social-items .social-ph{
    background-position: -60px 0;
}
.social-items .social-home{
    background-position: 37px 0;
}
.social-items .social-f:hover{
    background-position: 0 36px;
}
.social-items .social-ph:hover{
    background-position: -60px 36px;
}
.social-items .social-home:hover{
    background-position: 37px 36px;
}
/* --------------- feedback-logo --------------- */
.feedback-logo img{
    height: 57px;
    width: 156px;
}
/* --------------- /feedback-logo --------------- */

/* --------------- /social-items --------------- */
@media (min-width: 1024px) {
    .desktop-title{
        width: 700px;
        display: block;
    }
    .works{
        display: block;
    }
    .site{max-width: 1024px;}
    .left{
        text-align: center;
        margin-left: 21px;
        margin-top: 10px;
        display:block;
        vertical-align: top;
        width: 700px;
        font-size: 51px;
       }
    .right {
        text-align: center;
        display: block;
        vertical-align: top;
        width: 700px;
        font-size: 71px;

    }
    .circle-items{
        width: 700px;
        text-align: center;
    }
        .sell{
            width: 700px;
            font-size:39px;
        }
        .sell_1{
            display: none;
        }
        .circle{
            width: 125px;
            height: 125px;
            font-size: 20px;
        }
        .circle div{
            width: 125px;
            height: 125px;
        }
        .circle div span{
            height: 120px;
            width: 108px;
            padding-right: 11px;

        }
    .content_block{
        width: 700px;
        display: inline-block;
        float: right;
    }

    /* --------------- aside --------------- */
    aside{
        float: left;
    }
    /* --------------- aside --------------- */

    /* --------------- feedback --------------- */
    .feedback{
        display: none;
    }
    /* --------------- /feedback --------------- */

    /* --------------- form --------------- */
    form{
        margin:0 auto;
        max-width:228px;
        margin-bottom: 51px;
    }
    /* --------------- /form --------------- */

    /* --------------- textbox --------------- */
    input.textbox{
        border: none;
        font-size: 17px;
        height: 26px;
        padding: 0 10px;
        margin-bottom: 5px;
    }
    input.company{
        display: block;
    }
    /* --------------- /textbox --------------- */
    /* --------------- contact --------------- */
    input.contact{
        height: 100px;
    }
    /* --------------- contact --------------- */
    /* --------------- btn --------------- */
    .btn{
        border: none;
        border-left: 2px solid #fae897;
        border-right: 2px solid #fae897;
        height: 43px;
    }
    /* --------------- /btn --------------- */
    /* --------------- logo --------------- */
    .logo img{
        height: 95px;
        width: 260px;
    }
    /* --------------- /logo --------------- */

    /* --------------- save-electricity --------------- */
    .save-electricity{
        display: block;
    }
    /* --------------- /save-electricity --------------- */
    /* --------------- feedback-block --------------- */
    .feedback-block{
        display: block;
    }
    /* --------------- /feedback-block --------------- */
    /* --------------- social --------------- */
    .social{
        display: none;
    }
    /* --------------- /social --------------- */
}
